@charset "utf-8";
.box_about {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.area_profile {
	width: 30rem;
	padding: 2rem;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
	overflow: hidden;
	
}
.area_profile .card {
	display: block;
	height: 30rem;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.15s ease-out 0.15s;
	-o-transition: all 0.15s ease-out 0.15s;
	transition: all 0.15s ease-out 0.15s;
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
}
.area_profile .card img,
.area_profile .card dl {
	position: absolute;
	left: 0;
	top: 0;
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	-ms-backface-visibility: visible;
	backface-visibility: visible;
	border-radius: 50%;
}

.area_profile .card dl {
	height: 100%;
	width: 100%;
	display: block;
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1rem;
	background: rgba(0,0,0,0.5);
	font-weight: bold;
	text-align: center;
	color: #fff;
	font-size: 2.4rem;
}
.area_profile .card dl dt {
	margin: 10rem 0 0;
}
.area_profile .card dl dt,
.area_profile .card dl dd {
	opacity: 0;
	-webkit-transition: all 0.15s ease-in 0.3s;
	-o-transition: all 0.15s ease-in 0.3s;
	transition: all 0.15s ease-in 0.3s;
}
.area_profile .card:hover {
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.area_profile .card:hover dl dt,
.area_profile .card:hover dl dd {
	opacity: 1;
}
.area_profile .card:hover img {
	-webkit-filter: blur(0.5rem);
	-o-filter: blur(0.5rem);
	filter: blur(0.5rem);
}

.list_sns {
	list-style-type: none;
	margin: 3rem 0 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.list_sns .btn_sns {
	width: 4rem;
	height: 4rem;
	font-size: 3.4rem;
	line-height: 4.5rem;
	background: #252525;
	color: #f8f8f8;
}
.area_profile_detail {
	width: 58rem;
}
.area_profile_detail dl {
	margin: 2rem 1rem;
	color: #333;
}
.area_profile_detail dl:after {
	content: "";
	display: block;
	clear: both;
}
.area_profile_detail dl dt,
.area_profile_detail dl dd {
	float: left;
	padding: 2rem 0 1.5rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	min-height: 1.8rem;
	-ms-align-items: flex-end;
	align-items: flex-end;
	position: relative;
}

.area_profile_detail dl dt::after,
.area_profile_detail dl dd::after{
	position: absolute;
	content: "";
	width: 80%;
	height: 0.5rem;
	background: #c8c8c8;
	left: 0;
	top: 0;
}
.area_profile_detail dl dt {
	width: 20%;
	font-size: 1.2rem;
	font-weight: bold;
	
}
.area_profile_detail dl dd {
	width: 80%;
	clear: right;
	font-size: 1.8rem;
}
.area_profile_detail dl dd::after {
	width: 100%;
}
.area_profile_detail .list_skill {
	margin: 0;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}
.area_profile_detail .list_skill li {
	-webkit-flex-direction: column-reverse;
	-moz-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	-o-flex-direction: column-reverse;
	flex-direction: column-reverse;
	height: 25rem;
	width: 20%;
	line-height: 1;
	margin: 0 0.5rem;
}
.area_profile_detail .list_skill li strong {
	padding: 0;
	text-align: center;
	
}
.area_profile_detail .list_skill li a {
	overflow: hidden;
	
}
.area_profile_detail .list_skill li span {
	width: 100%;
	height: 0;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0;
}































