@charset "utf-8";
@import url(reset.css);
@import url(UImatome.css);
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

html { font-size: 10px; }
body { font-size: 1.4rem; font-family: "Nanum Gothic", "나눔 고딕", "Malgun Gothic", "맑은 고딕", "Apple Gothic", "애플 고딕", "Sans serif", "Dotum"; color: #333; }
legend {
	position: absolute;
	visibility: hidden;
}
*::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 0.5rem;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  outline: 1px solid rgba(1,1,1,0.8);
}
/* Common */
a { color: #333; text-decoration: none; }
.dummy_img {
	display: table;
	width: 100%;
	height: 100%;
	background: #f0f2f5;
	text-align: center;
}
.dummy_img::before {
	content: 'IMG';
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	color: #a4aeb9;
	font-size: 150%;
}
.txt_basic {
	font-size: 1.2rem;
	line-height: 1.6;
	color: #99a3b1;
}
.exec_grid {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.exec_grid > * {
	margin: 1rem;
}
/* Layout */
html{
	height: 100%;
	background: rgba(13,38,56,0.05);
}
body {
	min-height: 100%;
	height: 100%;
	-webkit-transition: all 0.25s ease-in 0.6s;
	-o-transition: all 0.25s ease-in 0.6s;
	transition: all 0.25s ease-in 0.6s;
}
#wrap {
	overflow: hidden; 
	min-height: 100%;
	margin: 0 auto; 
	width: 104rem; 
	min-width: 32rem;
	position: relative;
	z-index: 1;
	background: #fff;
	box-shadow: 0 0 1rem rgba(13,38,56,0.25);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-perspective: 100rem;
	-moz-perspective: 100rem;
	-ms-perspective: 100rem;
	-o-perspective: 100rem;
	perspective: 100rem;
	-webkit-perspective-origin: 12rem 36rem;
	-moz-perspective-origin: 12rem 36rem;
	-ms-perspective-origin: 12rem 36rem;
	-o-perspective-origin: 12rem 36rem;
	perspective-origin: 12rem 36rem;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
#wrap::after {
	content: "";
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(13,38,56,0.35);
	-webkit-transition: all 0.25s ease-in 0.6s;
	-o-transition: all 0.25s ease-in 0.6s;
	transition: all 0.25s ease-in 0.6s;
	z-index: -10;
}
body.gnb_on {
	overflow: hidden;	
}
#header {
	-webkit-order: 2;
	-moz-order: 2;
	-ms-order: 2;
	-o-order: 2;
	order: 2;
	position: absolute;
	padding: 0 1rem;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 100;
	background: #2e96db;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.25s ease-in 0.3s;
	-o-transition: all 0.25s ease-in 0.3s;
	transition: all 0.25s ease-in 0.3s;
}
#header h1 {
	padding: 2rem 0 1rem;
	color: #fff;
	text-align: center;
	font-size: 2.5rem;	
	text-shadow: 1px 1px 1px #16181B,
 	0 0 1rem rgba(13,38,56,0.8)
}
body.gnb_on #wrap::after {
	opacity: 1;
	z-index: 10;
}
body.gnb_on #wrap #header {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-box-shadow: -0.5rem 0 1rem rgba(13,38,56,0.35);
	box-shadow: -0.5rem 0 1rem rgba(13,38,56,0.35);
}
#content {
	position: relative;
	-webkit-order: 1;
	-moz-order: 1;
	-ms-order: 1;
	-o-order: 1;
	order: 1;
	width: 100%;
	min-height: 100%;
	-webkit-transition: all 0.25s ease-in 0.6s;
	-o-transition: all 0.25s ease-in 0.6s;
	transition: all 0.25s ease-in 0.6s;
}
body.gnb_on #wrap  #content {
	-webkit-transform: rotateY(15deg);
	-ms-transform: rotateY(15deg);
	-o-transform: rotateY(15deg);
	transform: rotateY(15deg);
	-webkit-filter: blur(0.5rem);
	-o-filter: blur(0.5rem);
	filter: blur(0.5rem);
}
#footer {
	width: 100%;
	-webkit-order: 3;
	-moz-order: 3;
	-ms-order: 3;
	-o-order: 3;
	order: 3;
	padding: 3rem 6rem;
}
.box.section {
	padding: 3rem 6rem;
	font-size: 1.8rem;
	position: relative;
	
}
.box.section::after {
	content: "";
	clear: both;
	display: block;
}
.box.section:nth-child(odd) {
	/*background-color: #DADEE1;*/
}

/* Menu */
.menu { 
	position: relative;
	margin: 1rem 0 0;
}
.btn_gnb_ctrl {
	overflow: hidden;
	position: absolute;
	padding: 0;
	width: 3rem;
	height: 2.5rem;
	border-radius: 5px;
	background: transparent;
	border: none;
	top: -5rem;
	left: -5rem;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.25s ease-in 0.6s;
	-o-transition: all 0.25s ease-in 0.6s;
	transition: all 0.25s ease-in 0.6s;
}
.ctrl_bar {
	position: absolute;
	display: block;
	width: 3rem;
	height: 0.5rem;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 5px;
	background: #fff;
	-webkit-transition: all 0.25s ease-in 0.6s;
	-o-transition: all 0.25s ease-in 0.6s;
	transition: all 0.25s ease-in 0.6s;
}
.btn_gnb_ctrl::before,
.btn_gnb_ctrl::after {
	content: "";
	position: absolute;
	display: block;
	width: 3rem;
	height: 0.5rem;
	border-radius: 5px;
	background: #fff;
	border: none;
	left: 0;
	-webkit-transition: all 0.25s ease-in 0.6s;
	-o-transition: all 0.25s ease-in 0.6s;
	transition: all 0.25s ease-in 0.6s;
}
.btn_gnb_ctrl::before {
	top: 0;
}
.btn_gnb_ctrl::after {
	bottom: 0;
}
body.gnb_on #wrap .btn_gnb_ctrl::before {
	top: 1rem;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
body.gnb_on #wrap .btn_gnb_ctrl::after {
	bottom: 1rem;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
body.gnb_on #wrap  .ctrl_bar {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}
.box_sns {
	margin: 1rem 0 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.btn_sns {
	display: block;
	margin: 0 0.5rem;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 2.4rem;
	color: #2e96db;
	background: #fff;
	border-radius: 3px;
	text-align: center;
	text-shadow: 1px 1px 0 #16181B;
	box-shadow: 1px 1px 1px rgba(13,38,56,0.5);
	-webkit-transition: all 0.135s ease-in 0.15s;
	-moz-transition: all 0.135s ease-in 0.15s;
	-ms-transition: all 0.135s ease-in 0.15s;
	-o-transition: all 0.135s ease-in 0.15s;
	transition: all 0.135s ease-in 0.15s;
	
}
.btn_sns:hover {
	-webkit-transform: scale(1.25, 1.25);
	-ms-transform: scale(1.25, 1.25);
	-o-transform: scale(1.25, 1.25);
	transform: scale(1.25, 1.25);
}

/* Gnb */
.list_gnb {
}
.btn.btn_gnb {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	padding: 1.5rem 1rem;
	width: 100%;
	-webkit-transition: 0.35s;
	-moz-transition: 0.35s;
	-ms-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.list_gnb li {
	position: relative;
	
}
.list_gnb li:first-child .btn.btn_gnb { 
	border: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.btn.btn_gnb:hover,
.btn.btn_gnb:focus,
.btn.btn_gnb.active {
	background: #16181B;
}

.box_search_gnb {
	overflow: hidden;
	border-radius: 3px;
	background: #fff;
	margin-right: 10px;
}
.box_search_gnb label {
	position: absolute;
	visibility: hidden;
}
.box_search_gnb .text {
	border: none;
	padding: 10px 5px;
	width: auto;
}
.box_search_gnb .btn_search {
	width: 35px;
	height: 35px;
	border: none;
	text-indent: -999em;
	position: relative;
	background: #fff;
}
.box_search_gnb .btn_search::before,
.box_search_gnb .btn_search::after {
	content:'';
	position: absolute;
	display: block;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
.box_search_gnb .btn_search::before {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: 2px solid rgba(13,38,56,0.5) 
}
.box_search_gnb .btn_search::after {
	width: 2px;
	height: 10px;
	background: rgba(13,38,56,0.5);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	left: 15px;
	top: 15px;
}

.list_gnb_2dpt {
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 200px;
	background: #16181B;
	border-radius: 5px;
	left: 0;
	top: 100px;
	opacity: 0;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	z-index: -99
}
.list_gnb_2dpt::before {
	display: block;
	width: 0;
	height: 0;
	margin-top: -7px;
	margin-left: 30px;
	background: transparent;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-bottom: 7px solid #16181B;
	content: '';
}

.list_gnb_2dpt.active {
	top: 70px;
	opacity: 1;
	z-index: 1;
}
.list_gnb_2dpt > li {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}
.btn.btn_gnb_2dpt {
	display: block;
	padding: 1.5rem 2rem;
	text-align: left;
}
.btn.btn_gnb_2dpt:hover,
.btn.btn_gnb_2dpt.active {
	background: #393f48;
}

.list_gnb_3dpt {
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 200px;
	background: #2e96db;
	border-radius: 5px;
	left: 0;
	top: -15px;
	opacity: 0;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	z-index: -99
}
.list_gnb_3dpt::before {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	margin-left: -7px;
	margin-top: 30px;
	background: #fff;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #2e96db;
	content: '';
}

.list_gnb_3dpt.active {
	left: 220px;
	opacity: 1;
	z-index: 1;
}
.list_gnb_3dpt > li {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}
.btn.btn_gnb_3dpt {
	display: block;
	padding: 1.5rem 2rem;
	text-align: left;
}
.btn.btn_gnb_3dpt:hover,
.btn.btn_gnb_3dpt.active {
	background: #393f48;
}

/* Button */
.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 1.4rem;
	color: #fff;
	border-radius: 5px;
	padding: 1rem;
	text-align: center;
	line-height: 1.2;
	background: transparent;
	border: none;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.75);
	cursor: pointer;
}
.btn_gotop {
	position: fixed;
	right: 0;
	bottom: 5rem;
	display: block;
	width: 4rem;
	height: 4rem;
	background-color: rgba(13,38,56,1);
	z-index: 110;
}
.btn_more {
	display: inline-block;
	padding: 0.5rem 1rem 0.7rem;
	background-color: #2e96db;
	font-weight: bold;
	line-height: 1.4;
	color: #fff;
}

/* Title */
.tit { 
	font-weight: bold; 
}
.tit_page { 
	margin: 0 0 2.5rem; 
	padding: 3rem 0 ; 
	font-size: 4rem; 
	border-radius: 1rem; 
	box-shadow: 0 1rem 0 rgba(67,74,84,.33); 
}
.tit_section { 
	font-size: 6rem; 
	line-height: 5; 
	text-align: center;
	background: #2e96db;
	color: #fff;
	box-shadow: 2rem 2rem 15rem rgba(13,38,56,0.8) inset,
				-1rem -1rem 10rem rgba(13,38,56,0.8) inset;
	text-shadow: 1px 1px 1px #16181B,
				0 0 1rem rgba(13,38,56,0.8);
}
.tit_sub {
	position: relative;
	margin: 5rem 0 4rem;
	padding: 0 0 2rem;
	font-size: 3rem;
	color: #fff;
	text-align: center;
	background-color: #2e96db;
	-webkit-box-shadow: 3px 5px 3px #0A5486;
	box-shadow: 3px 5px 3px #0A5486;
	text-shadow: 1px 1px 1px #0A5486;
}
.tit_sub:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #2e96db;
	z-index: -1;
	-webkit-transform: skewY(-2.5deg);
	-ms-transform: skewY(-2.5deg);
	-o-transform: skewY(-2.5deg);
	transform: skewY(-2.5deg);
	-webkit-transform-origin: left;
	-moz-transform-origin: left;
	-ms-transform-origin: left;
	-o-transform-origin: left;
	transform-origin: left;
	-webkit-box-shadow: 3px 0 3px #0A5486;
	box-shadow: 3px 0 3px #0A5486;
}
.stit_sub {
	position: relative;
	padding: 0 0 0 3rem;
	margin: 4rem 0 2rem;
	font-size: 2rem;
}
.tit_sub + .stit_sub {
	margin-top: 0;
}
.stit_sub::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 2rem;
	height: 2rem;
	background: #1B76BA;
	-webkit-box-shadow: 2px 2px 0 #5D6061;
	box-shadow: 2px 2px 0 #5D6061;
	-webkit-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);
}

/* Paragraph */
.txt_type01 {
	margin: 0 0 1rem;
	line-height: 1.2;
}

/* Lists */
.list_type01 {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.list_type01 li {
	position: relative;
	padding: 0 1.5rem;
	margin: 2rem 0 0 2rem;
}
.list_type01 li:first-child {
	margin-top: 0;
}
.list_type01 li::after {
	position: absolute;
	content: "";
	left: 0;
	top: 0.5rem;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: rgba(13,38,56,0.4);
}

.list_type02 {
	margin: 0;
	padding: 0;
	list-style-type: none;
	counter-reset: counter01;
}
.list_type02 li {
	position: relative;
	padding: 0 2.5rem;
	margin: 2rem 0 0 2rem;
	padding: 0 0 0 4rem;
}
.list_type02 li::before {
	counter-increment: counter01;
	content: counter(counter01);
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	left: 0;
	top: 0;
	background: #1B76BA;
	color: #fff;
	font-size: 1.4rem;
	text-align: center;
	line-height: 2.5rem;
}

.list_type03 {
	padding: 0 2rem;
}
.list_type03 dt,
.list_type03 dd {
	margin: 1.5rem 0 0;
}
.list_type03 dt {
	font-weight: bold;
}


/* Figures */
.fig_type01 {
	margin: 0 auto;
	display: block;
	overflow: hidden;
	width: 65%;
	border: 5px solid #2e96db;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fig_type01 img {
	display: block;
	max-width: 100%;
}
.fig_type01 figcaption {
	position: relative;
	padding: 1rem;
	border-top: 3px solid #2e96db;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fig_type01 figcaption::before {
	position: absolute;
	content: '';
	width: 1rem;
	height: 1rem;
	top: -0.9rem;
	left: 5rem;
	background: #fff;
	border-width: 3px 3px 0 0;
	border-color: #2e96db;
	border-style: solid;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.fig_type02 {
	margin: 0 auto;
	display: block;
	overflow: hidden;
	width: 65%;
	border: 5px solid #2e96db;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fig_type02 > * {
	display: block;
	max-width: 100%;
}
.fig_type02 figcaption {
	position: relative;
	padding: 1rem;
	border-top: 3px solid #2e96db;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fig_type02 figcaption::before {
	position: absolute;
	content: '';
	width: 1rem;
	height: 1rem;
	top: -0.9rem;
	left: 5rem;
	background: #fff;
	border-width: 3px 3px 0 0;
	border-color: #2e96db;
	border-style: solid;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.fig_type03 {
	margin: 0 auto;
	display: block;
	overflow: hidden;
	width: 65%;
	border: 5px solid #2e96db;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fig_type03 > * {
	display: block;
	max-width: 100%;
}
.fig_type03 figcaption {
	position: relative;
	padding: 1rem;
	border-top: 3px solid #2e96db;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fig_type03 figcaption::before {
	position: absolute;
	content: '';
	width: 1rem;
	height: 1rem;
	top: -0.9rem;
	left: 5rem;
	background: #fff;
	border-width: 3px 3px 0 0;
	border-color: #2e96db;
	border-style: solid;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Main */
.main .tit_section {
	line-height: 10;
}
.list_main01 {
	width: 80%;
	margin: 0 auto 2rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style: none;
	padding: 0;
}
.list_main01 li {
	margin: 0 1rem;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	text-align: center;
	
}
.list_main01 li a {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.list_main01 li img {
	display: block;
	max-width: 100%;
	border-radius: 5px;
	border: 5px solid #2e96db;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.list_main01 li figcaption {
	margin: 2rem 0 0;
}
.list_skill {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.list_skill li {
	text-align: left;
	font-weight: bold;
	height: 5rem;
	line-height: 5rem;
	background-color: #eee;
	overflow: hidden;
	position: relative;
	margin: 0.5rem 0 0.5rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.list_skill li strong {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	padding: 0 0 0 3rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.list_skill li a {
	position: relative;
	height: 5rem;
	flex-grow: 2;
	-webkit-flex: 10;
	-moz-flex: 10;
	-ms-flex: 10;
	-o-flex: 10;
	flex: 10;
}
.list_skill li span {
	position: absolute;
	width: 0;
	height: 100%;
	left: 0;
	bottom: 0;
	display: block;
	text-indent: 0;
	color: #fff;
	text-align: center;
	-webkit-transition: all 0.5s ease-out 0.5s;
	-o-transition: all 0.5s ease-out 0.5s;
	transition: all 0.5s ease-out 0.5s;
	text-shadow: 1px 1px 1px #071925;
	background-image: repeating-linear-gradient(45deg, rgba(46,150,219,1), rgba(46,150,219,1) 1rem, rgba(35,133,210,1) 1rem, rgba(35,133,210,1) 2rem);
	border-top-right-radius: 2.5rem;
	border-bottom-right-radius: 2.5rem;
}
.list_skill li span:after {
	content: '%';
}
.list_skill li a:hover span {
	text-indent: 0;
}
.main .btn_more {
	float: right;
}

.list_comment {
	margin: 0 auto;
	padding: 0;
	width: 75%;
	list-style-type: none;
}
.list_comment li {
	padding: 2.5rem 0;
	border-top: 1px solid #e2e2e2;
}
.list_comment li:first-child {
	margin: 0;
	border-top: none;
}
.box_cmt {
	font-size: 1.4rem;
}
.box_cmt dt {
	margin: 0 0 -6rem;
	width: 8rem;
}
.box_cmt dt a {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 8rem;
	text-align: center;
	border: 3px solid #1B76BA;
}
.box_cmt dt img {
	max-width: 100%;
}
.box_cmt_info,
.box_cmt_cont {
	padding: 0 0 0 12rem;
}
.box_cmt_info a,
.box_cmt_info span {
	display: inline-block;
	padding: 0 1rem 0 0;
}
.box_cmt_info a {
	font-weight: bold;
	font-size: 1.6rem;
	color: #1B76BA;
}
.box_cmt_info span {
	color: #A4CAE5;
}
.box_cmt_cont {
	margin: 1.5rem 0 0;
	font-size: 1.6rem;
}
.box_btnset {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	margin: 1.5rem 0 0 12rem;
}
.box_btnset button {
	margin: 0 0.1rem;
	padding: 1rem 2rem;
	background: #bfbfbf;
	border: none;
	color: #616161;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	color: #fff;
	box-shadow: -2px -2px 0 #C6C8CA inset,
				2px 2px 0 #C6C8CA inset;
	-webkit-transition: all 0.25s ease-out 0.05s;
	-o-transition: all 0.25s ease-out 0.05s;
	transition: all 0.25s ease-out 0.05s;
}
.box_btnset button:first-child {
	margin-right: auto;
}
.box_btnset button.active {
	color: #fbfbfb;
	background: #1B76BA;
	box-shadow: -2px -2px 0 #3097db inset,
				2px 2px 0 #3097db inset;
}
.list_comment li .textarea {
	display: block;
	max-width: 79%;
	padding: 1rem;
	margin: 1.5rem 0 0 12rem;
	font-family: "Nanum Gothic", "나눔 고딕", "Malgun Gothic", "맑은 고딕", "Apple Gothic", "애플 고딕", "Sans serif", "Dotum";
	font-size: 1.4rem;
	border: 3px solid #bfbfbf;
	-webkit-transition: all 0.5s ease-in 0.35s;
	-o-transition: all 0.5s ease-in 0.35s;
	transition: all 0.5s ease-in 0.35s;
}
.list_comment li .textarea:focus {
	border-color: #1B76BA;
}
.box_load_list {
	margin: 0 auto;
	width: 75%;
}
.box_load_list .btn_load {
	display: block;
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	text-align: center;
	font-size: 1.6rem;
	font-weight: bold;
	border: none;
	background: #f2f2f2;
	color: #616161;
	cursor: pointer;
	-webkit-transition: all 0.25s ease-in 0.15s;
	-o-transition: all 0.25s ease-in 0.15s;
	transition: all 0.25s ease-in 0.15s;
}
.box_load_list .btn_load:hover {
	background: #1B76BA;
	color: #fff;
}
.box_regist_cmt {
	margin: 0 auto 3rem;
	width: 75%;
}
.line_regist {
	overflow: hidden;
	margin: 0 0 1rem;
	padding: 0 0 2rem;
	position: relative;
}
.box_regist_cmt .line_regist {
	max-width: 40rem;
}
.text + label {
	position: absolute;
	display: block;
	width: 100%;
	padding: 1rem 0;
	top: 0;
	left: 0;
	font-size: 1.6rem;
	line-height: 1.6rem;
	font-weight: bold;
	-webkit-transition: all 0.25s ease-in 0.15s;
	-o-transition: all 0.25s ease-in 0.15s;
	transition: all 0.25s ease-in 0.15s;
}
.text + label::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	background: #a8a8a8;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 0.15s ease-in 0.15s;
	-moz-transition: all 0.15s ease-in 0.15s;
	-ms-transition: all 0.15s ease-in 0.15s;
	-o-transition: all 0.15s ease-in 0.15s;
	transition: all 0.15s ease-in 0.15s;
	z-index: -1;
}
.text + label::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 0.3rem;
	bottom: 0;
	background: #a8a8a8;
}
.text + label > span {
	display: block;
	cursor: text;
	-webkit-transition: all 0.15s ease-in 0.15s;
	-moz-transition: all 0.15s ease-in 0.15s;
	-ms-transition: all 0.15s ease-in 0.15s;
	-o-transition: all 0.15s ease-in 0.15s;
	transition: all 0.15s ease-in 0.15s;
}
.text {
	position: relative;
	padding: 1rem;
	font-size: 1.6rem;
	width: 100%;
	border: none;
	color: #fff;
	font-weight: bold;
	-webkit-transition: all 0.15s ease-in 0.15s;
	-moz-transition: all 0.15s ease-in 0.15s;
	-ms-transition: all 0.15s ease-in 0.15s;
	-o-transition: all 0.15s ease-in 0.15s;
	transition: all 0.15s ease-in 0.15s;
	background: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.box_regist_cmt .box_btnset {
	margin-left: 0;
}
.text.active + label::before,
.text:focus + label::before {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.text.active + label > span,
.text:focus + label > span {
	-webkit-transform: translateY(180%);
	-ms-transform: translateY(180%);
	-o-transform: translateY(180%);
	transform: translateY(180%);
	font-size: 1.2rem;
	color: #a8a8a8;
}

.radio,
.check {
	position: absolute;
	margin: 0;
	padding: 0;
	font: 0/0 Dotum;
	opacity: 0;
}
.radio + label,
.check + label {
	display: inline-block;
	position: relative;
	padding: 0.5rem 0 0.5rem 2.5rem;
	margin: 0 0 0 2rem;
}
.radio + label::before,
.check + label::before{
	content: "";
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
	-webkit-transition: all 0.15s ease-in 0.05s;
	-o-transition: all 0.15s ease-in 0.05s;
	transition: all 0.15s ease-in 0.05s;
}
.check + label::before {
	border-radius: 0;
}
.radio + label::before,
.check + label::before{
	width: 1rem;
	height: 1rem;
	border: 0.4rem solid #fafafa;
	background: #bababa;
	box-shadow: 0 0 1px #5D6061, 0 0 3px #5D6061;
}
.radio:checked + label::before,
.check:checked + label::before {
	background: #2C93D8;
}

.sel_group {
	position: relative;
	display: block;
	width: 40rem;
	border: 3px solid #0A5486;
}
.select {
	position: relative;
	display: block;
	padding: 1rem 2rem;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: "Nanum Gothic", "나눔 고딕", "Malgun Gothic", "맑은 고딕", "Apple Gothic", "애플 고딕", "Sans serif", "Dotum";
	font-size: 1.6rem;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sel_group::after {
	content: "";
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	display: block;
	border-style: solid;
	border-color: #0A5486 transparent transparent transparent;
	border-width: 1.5rem 1rem 0 1rem;
}
.select::-ms-expand {
	display: none;
}

.btn_toggle,
.btn_toggle2 {
	position: absolute;
	margin: 0;
	padding: 0;
	font: 0/0 Dotum;
	opacity: 0;
}
.btn_toggle + label {
	overflow: hidden;	
	position: relative;
	display: inline-block;
	padding: 1rem 6rem 1rem 2rem;
	color: #fff;
	font-weight: bold;
	background: #898B83;
	text-shadow: 1px 1px 0 #5D6061;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 0.15s ease-in 0.05s;
	-o-transition: all 0.15s ease-in 0.05s;
	transition: all 0.15s ease-in 0.05s;
}
.btn_toggle + label::after {
	content: "Off";
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
	bottom: 0;
	line-height: 4rem;
	width: 3rem;
	height: 100%;
	padding: 0 0 0 1rem;
	font-size: 1.2rem;
	border-left: 1px solid #a0a0a0;
	box-shadow: -1px 0 0 #2C2D2D;
	-webkit-transition: all 0.15s ease-in 0.15s;
	-o-transition: all 0.15s ease-in 0.15s;
	transition: all 0.15s ease-in 0.15s;
}
.btn_toggle:checked + label {
	padding: 1rem 2rem 1rem 6rem;
	background: #2e96db;
}
.btn_toggle:checked + label::after {
	right: 100%;
	left: 0;
	border-right: 1px solid #2C2D2D;
	box-shadow: 1px 0 0 #a0a0a0;
}

.btn_toggle2 + label {
	overflow: hidden;	
	position: relative;
	display: inline-block;
	width: 8rem;
	height: 4rem;
	color: #fff;
	font-weight: bold;
	background: #a8a8a8;
	text-shadow: 1px 1px 0 #5D6061;
	border-radius: 4rem;
	cursor: pointer;
	font-size: 0;
	text-indent: -9999px;
	-webkit-transition: all 0.15s ease-in 0.05s;
	-o-transition: all 0.15s ease-in 0.05s;
	transition: all 0.15s ease-in 0.05s;
}
.btn_toggle2 + label::after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 4.5rem;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 1.5rem;
	height: 1.5rem;
	border: 0.5rem solid #fff;
	background: #a8a8a8;
	border-radius: 50%;
	box-shadow: 0 0 1px #2C2D2D;
	-webkit-transition: all 0.15s ease-in 0.15s;
	-o-transition: all 0.15s ease-in 0.15s;
	transition: all 0.15s ease-in 0.15s;
}
.btn_toggle2:checked + label {
	background: #2e96db; 
}
.btn_toggle2:checked + label::after {
	right: 100%;
	left: 0.5rem;
	background: #1B76BA;
	box-shadow: 1px 0 0 #2e96db;
}
.file {
	position: absolute;
	opacity: 0;
}
.file + label {
	display: inline-block;
	padding: 1rem 2rem;
	border: 3px solid #0A5486;
	width: 40rem;
}
.file + label::before {
	content: "\f15b";
	display: inline-block;
	margin: 0 1rem 0 0;
	font-family: 'FontAwesome';
	color: #0A5486;
}
.file + label span {
	font-weight: bold;
	color: #0A5486;
}

/* Board */
table {
	width: 100%;
	border-collapse: collapse;
}
table caption {
	position: absolute;
	text-indent: -9999em;
}
.wrap_board {
	margin: 0 auto;
	width: 80%;
}
.wrap_board.view {
	font-size: 1.6rem;
	border-top: 2px solid #0A5486;
}
.util_board {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.util_board .sel_group {
	width: 20rem;
}
.util_board .box_search_gnb {
	margin: 0;
	border: 3px solid #0A5486
}

.box_pagination {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}
.btn_page {
	display: block;
	margin: 0 0.5rem;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	background: #fbfbfb;
	text-align: center;
	font-size: 1.4rem;
	border: 1px solid #a8a8a8;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.35) inset,
				-1px -1px 10px rgba(0,0,0,0.35) inset;
	-webkit-transition: all 0.35s ease-in 0.15s;
	-moz-transition: all 0.35s ease-in 0.15s;
	-ms-transition: all 0.35s ease-in 0.15s;
	-o-transition: all 0.35s ease-in 0.15s;
	transition: all 0.35s ease-in 0.15s;
}
.btn_page.prev,
.btn_page.next {
	width: auto;
	padding: 0 1rem;
	margin: 0;
}
.btn_page.active {
	background: #0A5486;
	color: #fff;
	font-weight: bold;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5) inset,
				-1px -1px 10px rgba(0,0,0,0.5) inset;
}
.btn_page:hover {
	background: #2e96db;
	color: #fff;
}
.header_board {
	padding: 2rem 1rem;
	border-bottom: 1px solid #0A5486;
}
.tit_board {
	line-height: 1.4
}
.info_board {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	font-size: 1.4rem;
	color: #a8a8a8;
}
.info_board dt,
.info_board dd {
	margin-left: 1.5rem;
	position: relative;
	font-weight: bold;
	padding: 0 1rem 0 0;
}
.info_board dt::after,
.info_board dd::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 1px;
	height: 60%;
	background: #a8a8a8;
}
.info_board dd:last-child::after {
	display: none;
}
.cont_board {
	padding: 2rem;
	margin: 0 0 2.5rem;
	border-bottom: 2px solid #0A5486;
	line-height: 1.2;
}
.cont_board > * {
	margin: 1rem 0;
}

.tbl_list01 {
	margin-top: 1.5rem;
	border-bottom: 1px solid #0A5486;
}
.tbl_list01 th,
.tbl_list01 td {
	padding: 1rem;
	text-align: center;
	-webkit-transition: all 0.35s ease-in 0.15s;
	-moz-transition: all 0.35s ease-in 0.15s;
	-ms-transition: all 0.35s ease-in 0.15s;
	-o-transition: all 0.35s ease-in 0.15s;
	transition: all 0.35s ease-in 0.15s;
	
}
.tbl_list01 tbody tr:nth-child(odd) {
	background: #fbfbfb;
}
.tbl_list01 tbody tr:hover td {
	background: #0A5486;
	color: #fff;
	font-weight: bold;
	
}
.tbl_list01 tbody tr:hover td a {
	color: #fff;
}
.tbl_list01 th {
	border-top: 2px solid #0A5486;
	border-bottom: 1px solid #0A5486;
}
.tbl_list01 td {
	border-top: 1px solid #a8a8a8;
	font-size: 1.4rem;
}
.tit_list_cell {
	display: block;
	text-align: left;
	-webkit-transition: all 0.35s ease-in 0.15s;
	-moz-transition: all 0.35s ease-in 0.15s;
	-ms-transition: all 0.35s ease-in 0.15s;
	-o-transition: all 0.35s ease-in 0.15s;
	transition: all 0.35s ease-in 0.15s;
}
.wrap_board.panel {
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 60rem;
	justify-content: flex-start;
}
.list_panel {
	display: block;
	overflow: hidden;
	position: relative;	
	width: 31.9%;
	background: #a8a8a8;
	margin: 1rem 0.5rem;
	-webkit-transition: all 0.15s ease-out 0.05s;
	-moz-transition: all 0.15s ease-out 0.05s;
	-ms-transition: all 0.15s ease-out 0.05s;
	-o-transition: all 0.15s ease-out 0.05s;
	transition: all 0.15s ease-out 0.05s;
}
.list_panel img {
	max-width: 100%;
	width: 100%;
}
.list_panel .cont_panel {
	overflow: hidden;
	
	position: absolute;
	left: 0;
	bottom: 0;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: all 0.15s ease-out 0.05s;
	-moz-transition: all 0.15s ease-out 0.05s;
	-ms-transition: all 0.15s ease-out 0.05s;
	-o-transition: all 0.15s ease-out 0.05s;
	transition: all 0.15s ease-out 0.05s;
	background: rgba(0,0,0,0.75);
	font-size: 1.4rem;
	height: 70%;
	padding: 1rem;
	color: #f8f8f8;
}
.list_panel .info_board {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.list_panel .info_board dt {
	margin-left: 0;
}
.list_panel .info_board dd {
	width: 50%;
}
.list_panel .info_board dd:after {
	display: none;
}

.list_panel:hover .cont_panel,
.list_panel.active .cont_panel {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.list_panel .txt_info_board {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 70%;
	margin: 1rem;
	line-height: 1.3;
}

#maskLayer {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	z-index: -10;
	opacity: 0;
	-webkit-transition: all 0.35s ease-out 0.15s;
	-o-transition: all 0.35s ease-out 0.15s;
	transition: all 0.35s ease-out 0.15s;
}
.wrap_layer {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2rem;
	width: 80%;
	height: 80%;
	background: #f8f8f8;
	z-index: -20;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 1rem rgba(0,0,0,0.9);
	box-shadow: 0 0 1rem rgba(0,0,0,0.9);
	-webkit-transition: all 0.35s ease-out 0.5s;
	-o-transition: all 0.35s ease-out 0.5s;
	transition: all 0.35s ease-out 0.5s;
	-webkit-transform: scale(0,0);
	-ms-transform: scale(0,0);
	-o-transform: scale(0,0);
	transform: scale(0,0);
}
.wrap_layer.active {
	z-index: 20;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}
.wrap_layer.active + #maskLayer {
	opacity: 1;
	z-index: 10;
}
.btn_close_layer {
	position: absolute;
	right: -3rem;
	top: -3rem;
	display: block;
	padding: 0;
	width: 3rem;
	height: 3rem;
	background: none;
	border: none;
	font-size: 0;
	text-indent: -9999px;
	cursor: pointer;
	-webkit-transition: all 0.35s ease-out 0.15s;
	-o-transition: all 0.35s ease-out 0.15s;
	transition: all 0.35s ease-out 0.15s;
}
.btn_close_layer:hover {
	-webkit-transform: rotate(720deg);
	-ms-transform: rotate(720deg);
	-o-transform: rotate(720deg);
	transform: rotate(720deg);
}
.btn_close_layer::before,
.btn_close_layer::after {
	content: "";
	position: absolute;
	display: block;
	left: -0.5rem;
	width: 4.24rem;
	height: 0.5rem;
	background: #fff;
	border-radius: 5px;
}
.btn_close_layer::before {
	top: 1.3rem;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.btn_close_layer::after {
	bottom: 1.3rem;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.tit_layer {
	padding: 0 0 1rem;
	font-size: 4rem;
	border-bottom: 3px solid #a8a8a8;
}
.inner_layer {
	overflow: hidden;
	overflow-y: auto;
	margin: 1rem 0 0;
	padding: 1rem 2rem;
	height: 90%;
}
.info_portfolio {
	display: table;
	width: 100%;
}
.info_portfolio dt,
.info_portfolio dd {
	display: table-cell;
	vertical-align: middle;
	padding: 2rem 1rem;
}
.info_portfolio dt {
	width: 20%;
}
.info_portfolio dd {
	width: 30%;
}
.box_text_layer {
	padding: 2rem 1rem;
	border-top: 1px solid #a8a8a8;
}
.box_text_layer:after {
	content: "";
	clear: both;
	display: block;
}
.box_text_layer .fig_type01 {
	width: 50%;
	float: left;
	margin: 0 1rem 1rem 0;
}
.box_text_layer p {
	margin: 1rem 0 2rem;
	font-size: 1.6rem;
	line-height: 1.2;
}
.box_text_layer .fig_type01 + p {
	margin-top: 0;
}
.box_text_layer:nth-child(odd) .fig_type01 {
	float: right;
	margin: 0 0 1rem 1rem;
}

.box_progress {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.prog_rad {
	position: relative;
	overflow: hidden;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #F3F4F5;
}
.prog_rad .overlay {
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: auto;
	text-align: center;
	line-height: 100px;
	font-weight: bold;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	margin: auto;
	/*border: 1rem solid #F3F4F5;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 2;
	clip: rect(0,100px, 100px, 50px);
}
.prog_rad .overlay .fill {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 50%;
	left: 0;
	top: 0;
	background: #2e96db;
	clip: rect(0, 50px, 100px, 0px);
	-webkit-transition-property: transform ;
	-o-transition-property: transform ;
	transition-property: transform ;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.prog_rad.gt-50 {
	background: #2e96db;
}
.prog_rad.gt-50 .overlay {
	clip: rect(0, 50px, 100px, 0px);
}
.prog_rad.gt-50 .overlay .fill {
	background: #F3F4F5;
	clip: rect(0, 100px, 100px, 50px);
}
.prog_rad .prog_cont {
	position: absolute;
	width: 80%;
	height: 80%;
	z-index: 2;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
	line-height: 80px;
	background: #D5D9DE;
	text-align: center;
	font-weight: bold;
}