.icon {
	overflow: hidden;
	display: inline-block;
	border: 5px solid #ccc;
	font: 0/0 Dotum;
	width: 90px;
}
.icon img {
	display: block;
	font: 0/0 Dotum;
	max-width: 100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.15) inset
}
.icon.ic_circle {
	border-radius: 50%;
}
.icon.ic_hexagon {
	position: relative;
	overflow: visible;
	background: #fff;
	border: none;
	
	box-shadow: 0 5px 0 #ccc inset,
				0 -5px 0 #ccc inset;
}
.icon.ic_hexagon:before,
.icon.ic_hexagon:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	border-top: 45px solid #fff;
	border-bottom: 45px solid #fff;
	background: #ccc;
}
.icon.ic_hexagon:before {
	left: -7px;
	border-right: 25px solid transparent;
}
.icon.ic_hexagon:after {
	right: -7px;
	border-left: 25px solid transparent;
}